<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cloud Applications AR</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/deepstream.io-client-js/2.0.0/deepstream.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.5.0/js/xeditable.min.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.5.0/css/xeditable.min.css" />
</head>
<body ng-app="ar-webend">
<script src='js/script.js'></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AR Classroom</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Lessons</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-controller="questions">
          <ul class="nav nav-sidebar">
            <li ng-class="{'active': $parent.selectedQuestion === question.name }"
						ng-click="selectQuestion( question.name )"
						ng-repeat="question in questions">
              <a href='#' ng-bind="question.get('title')"></a>
			    		<div class="delete-button fa fa-remove" ng-click="deleteUser( user.name )"></div>
			    	</li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" ng-click="addQuestion()">Add Question <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="question">
          <h2 class="sub-header"><a href="#" editable-text="title">{{ title }}</a></h2>
            <div id="view" ng-hide="editable">
              <p>1: {{ answer1 }}</p>
              <p>2: {{ answer2 }}</p>
              <p>3: {{ answer3 }}</p>
              <p>4: {{ answer4 }}</p>
              <p>5: {{ answer5 }}</p>
            </div>

            <div id="edit" ng-show="editable" class="fields">
                <input ng-model="answer1" type="text" id="answer1"><br>
                <input ng-model="answer2" type="text" id="answer2"><br>
                <input ng-model="answer3" type="text" id="answer3"><br>
                <input ng-model="answer4" type="text" id="answer4"><br>
                <input ng-model="answer5" type="text" id="answer5"><br>
            </div>

            <button type="button" class="btn btn-default" ng-click="makeEditable()">Edit</button>

            </div>
        </div>
      </div>
</body>
</html>